@use "bulma/sass/utilities/initial-variables" as iv;

main {
  display: grid;
  grid-template:
    "title card" auto
    "hr card" auto
    "ingredients card" auto
    "preparation card" auto / 2fr 1fr;
}

.title-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: iv.$tablet) {
  main {
    grid-template:
      "title" auto
      "card" auto
      "ingredients" auto
      "preparation" auto / 1fr;
  }

  .hr {
    display: none;
  }

  .title-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.table {
  background-color: var(--main-bg-color);
  --bulma-table-striped-row-even-background-color: var(--sidebar-bg-color);
}

:host ::ng-deep {
  h3 a {
    display: none;
  }

  .content img {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
  }
}
