<div class="is-fullwidth has-background-primary">
  <div class="p-2">
    <div class="level is-mobile is-hidden-desktop m-0">
      <div class="level-left">
        <a [routerLink]="[]" [queryParams]="{ recipe: null }"><img
            src="logo.svg"
            style="height: 3rem; max-height: 3rem"
          ></a>
      </div>
      <div class="level-right">
        <button class="button" (click)="toggleSidebar()">
          <span class="icon">
            @switch (sidebarState()) {
              @case ("hidden") {
                <ng-icon class="is-flex" name="remixMenuFill"></ng-icon>
              }
              @case ("visible") {
                <ng-icon class="is-flex" name="remixCloseLargeFill"></ng-icon>
              }
            }
          </span>
        </button>
      </div>
    </div>
    <div class="is-hidden-touch m-0">
      <div class="is-flex is-justify-content-center">
        <a [routerLink]="[]" [queryParams]="{ recipe: null }"><img
            src="logo.svg"
            style="height: 3rem; max-height: 3rem"
          ></a>
      </div>
    </div>
  </div>
</div>
