@use "./variables.scss" as vars;
@use "bulma/sass" with ($primary: vars.$primary, $link: vars.$primary);

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  .is-inverted-while-dark {
    filter: invert(1);
  }
}

.is-fullwidth {
  width: 100%;
  max-width: 100%;
}

.is-fullheight {
  height: 100%;
  max-height: 100%;
}
