$primary: #34ac46;

$colors: (
  main-bg-color: (#ffffff, #171817),
  sidebar-bg-color: (#e1e6de, #222322),
  footer-bg-color: (#2a2a2a, #121212),
);

:root {
  @each $name, $pair in $colors {
    --#{$name}-h: #{hue(nth($pair, 1))};
    --#{$name}-s: #{saturation(nth($pair, 1))};
    --#{$name}-l: #{lightness(nth($pair, 1))};
    --#{$name}: #{nth($pair, 1)};

    @media (prefers-color-scheme: dark) {
      --#{$name}-h: #{hue(nth($pair, 2))};
      --#{$name}-s: #{saturation(nth($pair, 2))};
      --#{$name}-l: #{lightness(nth($pair, 2))};
      --#{$name}: #{nth($pair, 2)};
    }
  }
}
