@use "sass:color";
@use "sass:list";

$primary: #34ac46;

$colors: (
  main-bg-color: (#ffffff, #171817),
  sidebar-bg-color: (#e1e6de, #222322),
  footer-bg-color: (#2a2a2a, #121212),
);

:root {
  @each $name, $pair in $colors {
    $light-color: list.nth($pair, 1);
    $dark-color: list.nth($pair, 2);

    --#{$name}-h: #{color.channel($light-color, "hue", $space: hsl)};
    --#{$name}-s: #{color.channel($light-color, "saturation", $space: hsl)};
    --#{$name}-l: #{color.channel($light-color, "lightness", $space: hsl)};
    --#{$name}: #{$light-color};

    @media (prefers-color-scheme: dark) {
      --#{$name}-h: #{color.channel($dark-color, "hue", $space: hsl)};
      --#{$name}-s: #{color.channel($dark-color, "saturation", $space: hsl)};
      --#{$name}-l: #{color.channel($dark-color, "lightness", $space: hsl)};
      --#{$name}: #{$dark-color};
    }
  }
}
