@use "bulma/sass/utilities/initial-variables" as iv;

.sidebar {
  transition: max-height 1s ease-out;
  max-height: 100%;
}

@media (max-width: iv.$desktop) {
  .zero-height {
    max-height: 0;
    transition-duration: 0.2s;
  }

  .sidebar {
    padding-bottom: 0;
  }
}
