#headbar {
  height: 80px;
  background-color: #111;
  display: fixed;
  position: fixed;
  top: 0;
  width: 100vw;
}
div#logocontainer {
  height: 100%;
  width: 100%;
}
img#headbarlogo {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: invert(1);
  padding: 6px;
  padding-right: calc(80px + 6px);
}
#headbar i {
  float: left;
  font-size: 40px;
  display: fixed;
  left: 0;
  transition: 0.3s;
  padding: 20px;
  color: #333;
}
#headbar i:hover {
  color: #f1f1f1;
  text-decoration: none;
  cursor:pointer;
}
