body {
  background-color: #111;
  color: #818181;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5vw;
}
.logocontainer {
  background-color: white;
  padding: 50px 0;
  margin: 0;
  width: 100%;
  max-width: 100vw;
}
.logocontainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alternatives {
  width: 100%;
  max-width: 100vw;
}
.alternatives table {
  margin: 0 auto;
}
.alternatives table tr td {
  padding: 2vw;
  padding-top: 0;
}
i {
  font-size: 8vw;
  padding-bottom: 2vw;
}
a {
  color: #818181;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #f1f1f1;
  text-decoration: none;
}
