<div class="hero">
  <div class="hero-body has-text-centered" style="max-height: 100vh">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <figure class="pr-6 pl-6 is-inverted-while-dark">
          <img src="logo.svg">
        </figure>
        <hr class="has-background-current">
        <p class="title is-2">Rezepte der Familie Hesse</p>
        <p>
          Hier kannst du Rezepte finden, die allesamt einfach und dabei lecker
          sind.
        </p>
      </div>
    </div>
  </div>
</div>
