name: Continuous Integration & Deployment

on:
  push:

jobs:
  fmt-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Node
        uses: volta-cli/action@v4

      - name: Update Rust Toolchain
        run: rustup up

      - name: Install deps
        run: npm ci

      - name: Format Check
        run: npm run fmt-check
